server:
  port: 8080

spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    properties:
      security.protocol: PLAINTEXT

logging:
  level:
    root: INFO
    org.todaybook: INFO
    org.todaybook.bookpreprocessingworker: DEBUG