name: CD - Deploy Dev

on:
  workflow_run:
    workflows: ["CI - Build & Publish Image"]
    types: [completed]

jobs:
  deploy-dev:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'dev'
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id:     ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{secrets.DEV_AWS_REGION}}

      - name: Deploy via SSM
        run: |
          IMAGE_TAG="${{ github.event.workflow_run.outputs.image_tag }}"
          IMAGE="ghcr.io/${{ secrets.GHCR_USER }}/book-preprocessing-worker:${IMAGE_TAG}"

          aws ssm send-command \
            --instance-ids ${{ secrets.DEV_EC2_INSTANCE_ID }} \
            --document-name AWS-RunShellScript \
            --parameters commands="
              docker pull ${IMAGE}
              docker stop book-preprocessing-worker || true
              docker rm book-preprocessing-worker || true
              docker run -d \
                --name book-preprocessing-worker \
                -p 9002:9002 \
                -e SPRING_PROFILES_ACTIVE=dev \
                -e KAFKA_BOOTSTRAP_SERVERS='${{ secrets.DEV_KAFKA_BOOTSTRAP_SERVERS }}' \
                -e KAFKA_USERNAME='${{ secrets.DEV_KAFKA_USERNAME }}' \
                -e KAFKA_PASSWORD='${{ secrets.DEV_KAFKA_PASSWORD }}' \
                ${IMAGE}
            "