name: CI - Build & Publish Image

on:
  push:
    branches: [ "dev", "main" ]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.meta.outputs.IMAGE_TAG }}

    steps:
      - uses: actions/checkout@v4

      - name: Set Image Metadata
        id: meta
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          DATE=$(date +'%Y%m%d')

          if [[ "${GITHUB_REF_NAME}" == "dev" ]]; then
            ENV=dev
          else
            ENV=prod
          fi

          IMAGE_TAG="${ENV}-${DATE}-${SHORT_SHA}"
          echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_OUTPUT

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build & Push Image (GHCR)
        run: |
          IMAGE="ghcr.io/${{ secrets.GHCR_USER }}/book-preprocessing-worker:${{ steps.meta.outputs.IMAGE_TAG }}"
          docker build -t "$IMAGE" .
          docker push "$IMAGE"

          # 보조 태그
          if [[ "${GITHUB_REF_NAME}" == "dev" ]]; then
            docker tag "$IMAGE" "ghcr.io/${{ secrets.GHCR_USER }}/book-preprocessing-worker:dev-latest"
            docker push "ghcr.io/${{ secrets.GHCR_USER }}/book-preprocessing-worker:dev-latest"
          fi