name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USER }} --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ secrets.GHCR_USER }}/todaybook:latest .

      - name: Push Docker Image
        run: docker push ghcr.io/${{ secrets.GHCR_USER }}/todaybook:latest

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker pull ghcr.io/${{ secrets.GHCR_USER }}/todaybook:latest
            docker stop todaybook || true
            docker rm todaybook || true
            docker run -d --name todaybook -p 8888:8082 ghcr.io/${{ secrets.GHCR_USER }}/todaybook:latest