name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ secrets.GHCR_USER }}/todaybook:latest .

      - name: Push Docker Image
        run: docker push ghcr.io/${{ secrets.GHCR_USER }}/todaybook:latest

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          envs: GHCR_USER,GHCR_TOKEN,GITHUB_SHA
          script: |
            echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USER }} --password-stdin
            docker pull ghcr.io/${{ secrets.GHCR_USER }}/todaybook:${{ github.sha }}
            docker stop todaybook || true
            docker rm todaybook || true
            docker run -d \
                          --name todaybook \
                          -p 8888:8082 \
                          -e SPRING_KAFKA_BOOTSTRAP_SERVERS="${KAFKA_BOOTSTRAP_SERVERS}" \
                          -e SPRING_KAFKA_CONSUMER_GROUP_ID="${KAFKA_CONSUMER_GROUP}" \
                          --memory="512m" \
                          --cpus="0.5" \
                          --restart unless-stopped \
                          ghcr.io/${{ secrets.GHCR_USER }}/todaybook:${{ github.sha }}
            sleep 5
            docker logs todaybook | head -20